<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Service</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-5">
    <div class="container">
        <h2>Booking</h2>
        <th:block th:if="${message}">
            <p th:text="${message}" class="text-danger"></p>
        </th:block>
        <form action="/booking" method="post">
            <input type="hidden" th:field="${dichvu.id}" name="id"/>
            <div class="form-group">
                <label for="tendichvu">Name Service:</label>
                <input type="text" class="form-control" id="tendichvu" name="tendichvu" th:field="${dichvu.tenDichVu}" disabled>
            </div>
            <div class="form-group">
                <label for="dientich">Area:</label>
                <input type="text" class="form-control" id="dientich" name="dientich" th:field="${dichvu.dienTich}" disabled>
            </div>
            <div class="form-group">
                <label for="chiphithue">Area:</label>
                <input type="text" class="form-control" id="chiphithue" name="chiphithue" th:field="${dichvu.chiPhiThue}" disabled>
            </div>
            <div class="form-group">
                <label for="songuoitoida">People:</label>
                <input type="text" class="form-control" id="songuoitoida" name="songuoitoida" th:field="${dichvu.soNguoiToiDa}" disabled>
            </div>
            <div class="form-group">
                <label for="sotang">Floor:</label>
                <input type="text" class="form-control" id="sotang" name="sotang" th:field="${dichvu.soTang}" disabled>
            </div>
            <div class="form-group">
                <label for="trangthai">Status:</label>
                <input type="text" class="form-control" id="trangthai" name="trangthai" th:field="${dichvu.trangThai}" disabled>
            </div>
            <div class="form-group">
                <label for="ngaybatdau">Start Day:</label>
                <input type="date" class="form-control" id="ngaybatdau" name="ngaybatdau" >
            </div>
            <div class="form-group">
                <label for="ngayketthuc">End Day:</label>
                <input type="date" class="form-control" id="ngayketthuc" name="ngayketthuc" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>