<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>History Booking</h2>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id Booking</th>
            <th>Id Service</th>
            <th>Start Day</th>
            <th>End Day</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hopdong : ${historyHopDong}">
            <td th:text="${hopdong.id}"></td>
            <td th:text="${hopdong.idDichVu}"></td>
            <td th:text="${hopdong.ngayLamHopDong}"></td>
            <td th:text="${hopdong.ngayKetThuc}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>